<div class="custom-tos-tabs">
  <div class="tab-tos">
    <button class="tablink active" data-tab="tab1">{{i18n "tos_tab1_title"}}</button>
    <button class="tablink" data-tab="tab2">{{i18n "tos_tab2_title"}}</button>
  </div>

  {{#if (eq this.site.currentLocale 'fr')}}
    <div id="tab1" class="tabcontent active">{{{theme-setting 'custom_tos_tab1_fr'}}}</div>
    <div id="tab2" class="tabcontent">{{{theme-setting 'custom_tos_tab2_fr'}}}</div>
  {{else}}
    <div id="tab1" class="tabcontent active">{{{theme-setting 'custom_tos_tab1_en'}}}</div>
    <div id="tab2" class="tabcontent">{{{theme-setting 'custom_tos_tab2_en'}}}</div>
  {{/if}}
</div>